body {
  background-image: url(../assets/photos/palm-leaf\ copy.png);
}
.navbar-brand {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 40px;
  background-color: #666666;
  border-top: solid #4aaaa5;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #ffffff !important;
  margin: 20 px;
}
p {
  color: #777777;
  font-family: Arial, Helvetica, sans-serif;
  height: 400px;
  float: left;
  display: contents;
}
.row {
  background-color: #ffffff;
}

.aboutme {
  position: relative;
  margin: 20px;
}

#prof_pic {
  width: 15rem;
  height: 12rem;
  float: left;
  margin: 30px;
}
.main{
  width: 960px;
  padding: 20px;
  
}